.SubQuestion{
    display: none;
}
.displaySubQuestion{
    display: block !important;
    position: relative;
    left: 4%;
}
.questions{
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}
.savebutton{
    position: relative;
    left: 400px;
    padding-top: 10px;
    border-bottom-width: 10px;
    padding-bottom: 20px;
    width: 100px;
}
.checkboxclass{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}